/*
* @Author: Administrator
* @Date:   2018-04-02 10:02:47
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-20 10:14:42
*/
html {
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #f4f4f4;
}

.wrap {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.scanBg {
	width: 100%;
	height: 16.2rem;
	position: absolute;
	/*top:-0.8rem;*/
	left: 0;
	background: url(../images/newbg.png)no-repeat;
	background-size: 100% 100%;
	padding: 2rem 0 0;
}

.logos {
	width: 4.15rem;
	display: block;
	margin: 0 auto;
}

.banner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 0;
}

.banner img {
	width: 100%;
	vertical-align: middle;
}

.swiper-container .swiper-pagination-bullets {
	bottom: 0rem;
}

.swiper-container .swiper-pagination-bullets .swiper-pagination-bullet {
	background: #fff;
	opacity: 1;
	width: 20px;
	height: 5px;
	border: 1px solid #b5b5b5;
	/**317922;**/
	border-radius: 0;
}

.swiper-container .swiper-pagination-bullets .swiper-pagination-bullet-active {
	background-color: #b5b5b5;
}

.cod {
	text-align: center;
	margin-top: 1.15rem;
}

.cod img {
	width: 3.17rem;
	height: 3.17rem;
}

.buzh {
	color: #333333;
	line-height: 0.56rem;
	font-size: 0.3rem;
	padding: 0.55rem 0.9rem;
	text-align: left;
}

.buzh p {
	margin-top: 0.35rem;
	font-weight: bold;
	color: #00643a;
	font-size: 0.34rem;
}

/* query.html */
.wrap .query {
	width: 6.56rem;
	/* margin:1.66rem auto 0; */
	height: 3.3rem;
	margin: 0 auto;
}

.wrap .query .scan h2,
.wrap .query .input h2 {
	font-size: 0.3rem;
	font-weight: bold;
	color: #006438;
	height: 0.54rem;
	/* margin-top:0.42rem; */
}

.wrap .query .scan .scan_query {
	width: 6.56rem;
	height: 0.86rem;
	line-height: 0.86rem;
	color: #fff;
	font-size: 0.26rem;
	border-radius: 0.1rem;
	background: #116b30;

}

.wrap .query .scan span {
	display: inline-block;
	height: 0.4rem;
	width: 0.4rem;
	background: url(../images/sys.png) no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	float: left;
	margin: 0.24rem 0.21rem 0 2.47rem;
}

.wrap .query .input {
	position: relative;
}

.wrap .query .input .input_vul {
	width: 5.16rem;
	height: 0.86rem;
	line-height: 0.86rem;
	border-top-left-radius: 0.1rem;
	border-bottom-left-radius: 0.1rem;
	background: #d7d7d7;
	font-size: 0.26rem;
	padding: 0 0.23rem;
	border-right: none;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
	position: absolute;
	left: 0;
}

.wrap .query .input .input_btn {
	width: 1.5rem;
	font-size: 0.26rem;
	height: 0.86rem;
	color: #fff;
	background: -webkit-linear-gradient(#678f0a, #006438);
	background: -o-linear-gradient(#678f0a, #006438);
	background: -moz-linear-gradient(#678f0a, #006438);
	background: linear-gradient(#678f0a, #006438);
	border-top-right-radius: 0.1rem;
	border-bottom-right-radius: 0.1rem;
	position: absolute;
	right: 0;
}

.wxts {
	width: 6.56rem;
	margin: 0 auto 0.4rem;
	font-size: 0.26rem;
	color: #555555;
	line-height: 0.48rem;
}

.wxts p {
	color: #e65f3b;
	font-weight: bold;
	margin-top: 0.3rem;
}

.result {
	width: 6.58rem;
	margin: 1rem auto;
	border: 1px solid #b5b5b5;
	/** #5a8524 **/
	border-radius: 0.1rem;
}

.result h3 {
	color: #b5b5b5;
	font-size: 0.4rem;
	font-weight: bold;
	text-align: center;
	width: 2.12rem;
	margin: -0.3rem auto 0;
	background-color: #f4f4f4;
}

.result p {
	font-size: 0.3rem;
	color: #555555;
	line-height: 0.58rem;
	padding: 0.2rem 0.35rem 0.25rem;
}

.scanTitle {
	font-size: 0.36rem;
	font-family: PingFang-SC-Bold, PingFang-SC;
	font-weight: bold;
	color: #251E1C;
	text-align: center;
	width: 100%;
	position: relative;
}

.scanTitles {
	font-size: 0.36rem;
	font-family: PingFang-SC-Medium, PingFang-SC;
	font-weight: 450;
	color: #251E1C;
	text-align: center;
}

.scanBtn {
	width: 2.12rem;
	height: 0.77rem;
	/*background: url(../images/goscan.png)no-repeat;*/
	background-size: 100% 100%;
	margin: 0 0.8rem;
}

.inputBtn {
	width: 2.12rem;
	height: 0.77rem;
	/*background: url(../images/input.png)no-repeat;*/
	background-size: 100% 100%;
}

.inputBg {
	width: 6.73rem;
	height: 4.7rem;
	background: url(../images/inputbgs.png)no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0.39rem;
	top: 6.24rem;
	padding: 0.79rem 0.58rem 0;
}

.input_vuls {
	width: 100%;
	height: 0.91rem;
	background: url(../images/inputbg.png)no-repeat;
	background-size: 100% 100%;
	font-size: 0.36rem;
	text-align: center;
	font-family: PingFang-SC-Regular, PingFang-SC;
	font-weight: 400;
	color: #251E1C;
}

.input_btns {
	width: 100%;
	height: 0.9rem;
	background: url(../images/search.png)no-repeat;
	background-size: 100% 100%;
	font-size: 0.3rem;
	text-align: center;
	margin-top: 0.3rem;
}