/*
* @Author: Administrator
* @Date:   2018-05-11 17:16:08
* @Last Modified by:   Administrator
* @Last Modified time: 2018-05-11 18:00:14
*/
html,body,p,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline}

a{background-color:transparent;text-decoration:none}

mark{background:#ff0;color:#000}

img{border:0}

html{font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

html,body{-webkit-user-select:none;user-select:none;}

html,body,p,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline}

a{text-decoration:none;-webkit-touch-callout:none;background-color:transparent}

li{list-style:none}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}

audio,canvas,progress,video{display:inline-block}

audio:not([controls]){display:none;height:0}

[hidden],template{display:none}

a:active,a:hover{outline:0}

abbr[title]{border-bottom:1px dotted}

b,strong{font-weight:bold}

dfn{font-style:italic}

h1{font-size:2em;margin:.67em 0}

small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sup{top:-0.5em}

sub{bottom:-0.25em}

img{border:0;-webkit-touch-callout:none;}

svg:not(:root){overflow:hidden}

figure{margin:1em 40px}

hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}

pre{overflow:auto}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}

a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}

button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;-webkit-appearance:none;outline:none;line-height:normal}

button{overflow:visible}

button,select{text-transform:none}

button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}

button[disabled],html input[disabled]{cursor:default}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

input{line-height:normal}

input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}

input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}

legend{border:0;padding:0}

textarea{overflow:auto}

optgroup{font-weight:bold}

table{border-collapse:collapse;border-spacing:0}

td,th{padding:0}

/* 之前默认样式 */
*,::before,::after{
    margin:0;
    padding:0;
    /*清除移动端默认的点击高亮效果*/
    -webkit-tap-highlight-color:transparent;
    /*设置以边框开始计算宽度*/
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,p,th,td,hr {
	margin:0;
	padding:0;
    resize: none;
    font-family:"Microsoft YaHei",sans-serif;/*设备默认字体*/
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	border: 0;
}
em,strong,i{
	font-weight: normal;
	font-style: normal;
}
ol,ul{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
input,textarea,select,button {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	font-size:100%;
    outline:none;
    border:none;
    background:none;
    padding: 0;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #f1f1f1;
    border: none;
}
a{
    color:inherit;
	text-decoration: none;
}
a:hover{
    text-decoration:none;
}
.clearfix:after{
    content: ".";
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
}
input[type="text"],input[type="button"], input[type="submit"], input[type="reset"] {
    appearance:none;    
    -moz-appearance:none;   
    -webkit-appearance:none;
    -webkit-border-radius:0px;
}
textarea {
    -webkit-appearance: none;
}
/* 去除Chrome等浏览器文本框默认发光边框  */
input:focus, textarea:focus {
    outline: none;
}
input:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-user-modify:read-write-plaintext-only;
}
/* 去除IE10+浏览器文本框后面的小叉叉 */
input::-ms-clear {
    display: none;
}
/* 禁止多行文本框textarea拖拽 */
textarea {
    resize: none;
}